@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color{
    font-size: 14.5px;
    color: #4E4E4E;
}
.blue-span{
    color: #5BB7DF;
}

.bg{
    background-color: #EBEBEB;
}

.bg-blue{
    background-color: #57B2DB;
}

.bg-with{
    background-color: #E4F5FB;
}

.blue-bg{
    background-color: #297FCB;
}

.bg-img{
    background-image: url("/sidebar_infos.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
}

.angle_100gratuit_left{
    position: relative;
    left: 85%;
    top: 100%;
}

.bgbouton{
    background-color: #4E4E4E;
    box-shadow: 0px 0px 1px 1px #4E4E4E;
    border: 1px solid #CFCFCF;
}

.inputShadow{
    box-shadow: 0px 0px 1px 1px #4E4E4E;
}

